In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
taxi_df = pd.read_csv("green_tripdata_2019-10.csv")

/tmp/ipykernel_17095/1720272970.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  taxi_df = pd.read_csv("green_tripdata_2019-10.csv")

In [22]:
taxi_df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [5]:
zone_df = pd.read_csv("taxi_zone_lookup.csv")

In [6]:
zone_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               387007 non-null  float64
 1   lpep_pickup_datetime   476386 non-null  object
 2   lpep_dropoff_datetime  476386 non-null  object
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 72.7+ MB

In [8]:
taxi_df.lpep_pickup_datetime = pd.to_datetime(taxi_df.lpep_pickup_datetime)
taxi_df.lpep_dropoff_datetime = pd.to_datetime(taxi_df.lpep_dropoff_datetime)

In [9]:
taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               387007 non-null  float64
 1   lpep_pickup_datetime   476386 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  476386 non-null  datetime64[ns]
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: datetime64[ns](2), float64(15), int64(2), object(1)
memory usage: 72.7+ MB

In [19]:
db_engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [23]:
print(db_engine)

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [25]:
taxi_df.head(n=0).to_sql(name='green_taxi_data', con=db_engine, if_exists='replace')

0

In [26]:
print(pd.io.sql.get_schema(taxi_df, name='green_taxi_data', con=db_engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [28]:
taxi_df.to_sql(name='green_taxi_data', con=db_engine, if_exists='replace')

386

In [29]:
zone_df.to_sql(name='zones', con=db_engine, if_exists='replace')

265